:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  background-color: #F8F9FA;
}

nav p {
  font-size: 20px;
  font-weight: 500;
}

.search-cont {
  display: flex;
  /* gap: 0.5rem; */
}

.search-cont input {
  border: none;
  padding: 0.5rem;
  border-radius: 10px 0 0 10px;
}

.search-cont button {
  border: none;
  border-radius: 0 10px 10px 0;
  padding: 0 10px;
  background-color: rgb(110, 123, 148);
  color: white;
  cursor: pointer;
}


.menu {
  display: none;
  padding: 5px 10px;
  border: 1px solid gray;
  border-radius: 10px;
  cursor: pointer;
}

.menu i {
  font-size: larger;
}

.disp {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2rem;
  row-gap: 1rem;
}

.card {
  position: relative;
  padding: 0 !important;
  width: 18rem;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.card-desc {
  position: absolute;
  top: 3rem;
  color: white;
  padding: 0 0.5rem
}

.card img {
  /* width: 18rem; */
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.details img {
  width: 40%;
  height: 30rem
}

.details .wrap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 40%;
}

#name {
  font-size: 30px;
}

#bio {
  font-size: 20px;
  border-bottom: 2px solid black;
  padding-bottom: 25px;
}

.dimensions p {
  font-size: 18px;
}

.dimensions {
  border-bottom: 2px solid black;
  padding-bottom: 25px;
}
@media screen and (max-width: 768px) {
  nav {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    overflow: hidden;
    transition: all 1s ease;
    height: 3.5rem;
    row-gap: 0.5rem;
  }

  .search-cont {
    grid-row: 2;
    grid-column: 1/-1;
    place-self: center;
  }

  .menu {
    display: block;
    grid-column: 3;
    place-self: end;
  } 

  .details {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
    height: auto;
  }

  .details img {
    width: 80%;
    height: 40%;
  }
  .details .wrap {
    width: 80%;
  }
}

.cr {
  font-size: 18px;
}